<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>DetailProduct</title>
</head>
<body>
<h2>View Product</h2>
<p>
    <a th:href="@{/products}">
        Back to Product list
    </a>
</p>
<div id="detail">
    <form th:action="@{/products/{id}/remove(id=${product.id})}" method="POST">
        <div class="cus-detail">
            <label>Name:</label>
            <label th:text="${product.name}"></label>
        </div>
        <div class="cus-detail">
            <label>Price:</label>
            <label th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 2, 'POINT')}" id="price_fmt"></label>
        </div>
        <div class="cus-detail">
            <label>Description:</label>
            <label th:text="${product.description}"></label>
        </div>
        <input type="submit" value="Delete"/>
    </form>
</div>
<footer th:replace="~{/layout :: footer}"></footer>
</body>
</html>