<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout :: head}">
  <title>ProductList</title>
</head>

<body>

<h2>Product List</h2>
<p>
  <a th:href="@{/products/create}">
    <strong>Add new product</strong>
  </a>
</p>

<div class="notify">
  <div th:if="${success}">
    <span th:text="${success}"></span>
  </div>
</div>

<table id = "products">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>View</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="row : ${products}">
    <td th:text="${row.name}"></td>
    <td th:text="${#numbers.formatDecimal(row.price, 1, 'COMMA', 2, 'POINT')}" id="price_fmt"></td>
    <td th:text="${row.description}"></td>
    <td><a th:href="@{/products/{id}/edit(id=${row.id})}">Edit</a></td>
    <td><a th:href="@{/products/{id}/delete(id=${row.id})}">Delete</a></td>
    <td><a th:href="@{/products/{id}/view(id=${row.id})}">View</a></td>
  </tr>
  </tbody>
</table>

<div style="margin-top: 20px">
  <form th:action="@{/products/search}" method="GET">
    <label for="name"><strong>Search product by name</strong></label>
    <br>
    <input type="text" id="name" placeholder="Product Name" name="name">
    <br>
    <input type="submit" value="Search">
  </form>
</div>

<p>
  <a th:href="@{/products}">Product list</a>
</p>

<div th:replace="~{/layout :: footer}"></div>
</body>
</html>